In [1]:
import os, sys

In [2]:
ROOT_PATH = os.getenv("PROJECT_HOME")

In [3]:
ROOT_PATH

'/Users/matthieu/Documents/Workspace/ENGIE/rivesaltes'

In [4]:
sys.path.append(ROOT_PATH)

In [5]:
from smartgrid.io.export_grafana import export_to_whisper
import pandas as pd

In [7]:
df = pd.read_csv('{root_path}/acceptance_tests/data/data_example.csv.gz'.format(root_path=ROOT_PATH), 
                 compression='gzip', date_parser=0, sep=';')

In [8]:
df.head()

,date,puissanceAllumage6,puissanceAux,puissanceAllumage3,puissanceAllumage5,puissanceAllumage1,puissanceAllumage2,puissanceBorneC,puissanceEclairage,puissanceBorneB,...,DCCInput1P,DCCInput2V,DCCInput2I,DCCInput2P,ACCP,ACCQ,ACCS,cosphiC,freqC,ChaineArretUrgence
0,2017/11/30 01:00:01,0,NaN,0,NaN,0,NaN,"0,011287",NaN,"0,012841",...,NaN,-21474836,NaN,-2147483648,NaN,-2147483648,NaN,1,NaN,NaN
1,2017/11/30 01:00:05,0,"0,518412",0,0,0,0,"0,011287","0,254982","0,012841",...,-2.147484e+09,-21474836,"-2147483,75",-2147483648,"2147483,75",-2147483648,-2.147484e+09,1,"-0,01",NaN
2,2017/11/30 01:01:01,0,"0,518412",0,0,0,0,"0,010484","0,254982","0,013277",...,-2.147484e+09,-21474836,"-2147483,75",-2147483648,"2147483,75",-2147483648,-2.147484e+09,1,"-0,01",NaN
3,2017/11/30 01:01:05,0,"0,515324",0,0,0,0,"0,010484","0,25564","0,013277",...,-2.147484e+09,-21474836,"-2147483,75",-2147483648,"2147483,75",-2147483648,-2.147484e+09,1,"-0,01",NaN
4,2017/11/30 01:02:01,0,"0,515324",0,0,0,0,"0,007853","0,25564","0,011378",...,-2.147484e+09,-21474836,"-2147483,75",-2147483648,"2147483,75",-2147483648,-2.147484e+09,1,"-0,01",NaN